force=true
audit=false
strict-ssl=false
# email=test@test.ru
# registry=https://sfera.inno.local/app/repo-ci-npm/api/repository/sumd-npm
# //sfera.inno.local/app/repo-ci-npm/api/repository/:_auth=${NPM_TOKEN}
# always-auth=true
